@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.display-flex {
  display: flex;
}
/* Dark 02 */
.text-gray {
  color: #424242;
}
/* Dark 03 */
.text-light-gray {
  color: #727272;
  font-size: 1rem;
}
.text-bolder {
  color: rgb(19, 19, 19);
  font-size: 2rem;
  font-weight: 600;
}
.primary-btn {
  background-color: rgb(255, 144, 14);
  color: white;
  padding: 20px 25px;
  font-size: 1.5rem;
  font-weight: 600px;
  border-radius: 10px;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.brand {
  font-weight: 700px;
  font-size: 3rem;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-links {
}
.nav-item {
  list-style: none;
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500px;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700px;
  font-size: 4rem;
}
.banner-description {
  font-size: 16px;
  font-weight: 400;
}
.banner-img {
  width: 100%;
}

/* team section start */
main {
  max-width: 1440px;
  margin: 0 auto;

  margin-top: 80px;
}
.tem-section-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  border-radius: 8px;
}
.teams {
  align-items: center;
}
.team-section-title {
  margin-left: 90px;
  max-width: 500px;
}
#quick {
  color: rgb(114, 114, 114);
}
#our {
  color: rgb(19, 19, 19);
}

#Features {
  color: rgb(255, 144, 14);
}

.header-title {
  font-weight: 700;
  font-size: 2.82rem;
}
/* feature sectiion START */
.feature-card {
  padding: 20px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: ;
}

.feature-card .text-bolder {
  font-weight: 600px;
  font-size: 1.25rem;
}
#header-title-bg {
  border-left: 7px solid #ff900e;
  padding-left: 21px;
}
.feature-section {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
}
.feature-section-title {
  padding: 10px;
}
.feature-section-img {
  width: 100%;
}
/* some fact container start */
.fact-section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  color: rgb(19, 19, 19);
  font-size: 2.82rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.fact {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.some-fact {
}
#fact-description {
  color: rgb(114, 114, 114);

  font-size: 1rem;
  font-weight: 400;
}

/* our sponsor start */
.sponsor-title {
  width: 542px;
  margin: 50px auto;
  text-align: center;
}
.sponser-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponser-companies img {
  filter: grayscale(100%);
}

/* for mobile device */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams,
  .sponsor-title {
    flex-direction: column;
  }
  .tem-section-img,
  .fact-container,
  .sponser-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-section-title {
    margin-left: 20px;
  }
  .feature-section {
    display: grid;
  }
  .feature-section-img {
    width: 100%;
  }
  .feature-section-title > p {
    flex-direction: column;
  }
  .sponser-companies {
    gap: 20px;
  }
  .sponsor-title {
    display: grid;
  }
  .feature-section {
    width: 100%;
  }
}

/* for mdium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .feature-section {
    display: grid;
  }
}
